/* import form google font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* setting for all document */
:root {
  --primaryColor: #5fb7ea;
  --primaryRGBA: rgba(0, 0, 0, 0, 3);
  --mainGrey: #fafafa;
  --darkGrey: #5f5e5e;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainTransition: all 0.3s ease-in-out;
  --mainSpacing: 0.3rem;
}

.text-title {
  font-family: "Monserrat", sans-serif;
  font-weight: bold;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
}

/* careful with bootstrab class name */
.text-main {
  color: vay(--primaryColor);
}

body {
  font-family: "Open Sans", sans-serif !important;
  background: var(--mainGrey) !important;
  color: var(--mainBlack);
}
